:root {
    --font-color: #394867;
    --var-light: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
}

#app {
    font-family: 'Asap', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--font-color) !important;
    min-height: 100vh;
    background: url(../images/PNG/bg4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Login */
.login-wrap {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 360px;
    height: 320px;
    background: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-container img {
    width: 224px;
    height: 87px;
    margin: 2rem 0;
}

.google-login,
.select-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 1.5rem;
    width: 260px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.select-dropdown {
    margin: 0 0 1rem;
}

.google-login img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem 0 0;
}

.google-login a:hover {
    cursor: pointer;
}

.login-text {
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    display: flex;
    align-items: center;
}

select {
    border: none !important;
    /* font-family: "Roboto", sans-serif;
    color: var(--font-color) !important; */
    font-size: 1.125rem !important;
}

.form-select {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 -0.5 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='si-glyph si-glyph-triangle-down'%3E%3Ctitle%3E1237%3C/title%3E%3Cdefs%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M10.106,12.69 C9.525,13.27 8.584,13.27 8.002,12.69 L1.561,6.246 C0.979,5.665 0.722,4.143 2.561,4.143 L15.549,4.143 C17.45,4.143 17.131,5.664 16.549,6.246 L10.106,12.69 L10.106,12.69 Z' fill='%23434343' class='si-glyph-fill'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
    background-size: 1rem !important;
}

select:focus-visible,
select:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

option {
    font-weight: 400;
    font-size: 1.125rem;
    /* font-family: "Roboto", sans-serif; */
}

@media screen and (max-width: 768px) {
    .login-container {
        width: 336px;
        height: 308px;
    }
    .login-container img {
        width: 179px;
        height: 70px;
    }
    .google-login,
    .select-dropdown {
        width: 240px;
        height: 48px;
        padding: 0 0.5rem;
    }
    .google-login img {
        width: 22px;
        height: 22px;
    }
}
/*End Login*/

/*Header*/
.header-container {
    background: white;
    display: flex;
    background: #fff;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.header-container img {
    width: 160px;
    height: 60px;
    margin: 0.5rem 0;
}

.noti-container {
    display: flex;
    align-items: center;
}

.noti-container img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.login-required svg {
    margin: 0;
}

.direct-login svg {
    margin: 0 0.5rem;
}

.account-info {
    display: flex;
    padding: 0.75rem 1.5rem;
    align-items: center;
}

.account-info img {
    width: 44px;
    height: 44px;
}

.account-info:active {
    background: #fff;
    color: var(--font-color);
}

.account-info:hover {
    border-radius: 0.375rem;
}

.account-info-wrap {
    margin: 0 1rem;
}

.account-name {
    font-size: 1rem;
    font-weight: 500;
    /* font-family: "Roboto", sans-serif; */
}

.account-email {
    font-size: 0.875rem;
}

.dropdown-menu.dropdown-menu-end {
    width: 300px;
    padding: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 0.5rem !important;
}

.account-logout {
    background: #394867;
    color: #fff;
    padding: 0.625rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 23px;
    /* font-family: "Roboto", sans-serif; */
}

.account-logout:hover {
    background: #394867;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .dropdown-menu.dropdown-menu-end {
        width: 270px;
    }
    .account-info {
        padding: 0.625rem 1rem;
    }
    .account-name,
    .account-logout {
        font-size: 1rem;
    }
    .header-container img {
        height: 40px;
        width: 120px;
        margin: 0.25rem 0;
    }
    .noti-container img {
        width: 30px;
        height: 30px;
    }
}
/*End Header*/

/*Home*/
.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.main-wrap {
    /* background: #fff; */
    border-radius: 0.5rem;
    width: 75%;
    margin: 2rem 0;
}

.navigation-wrap {
    background: rgba(248, 243, 240, 0.8);
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.body-wrap {
    background-color: rgb(255, 255, 255, 0.99);
    padding: 1rem 1rem 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.body-section {
    display: flex;
}

.body-section img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.submit-wrap,
.result-wrap {
    /* font-family: "Roboto", sans-serif; */
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    margin: 0 0 0 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e1e3e1;
    max-width: calc(100% - 56px);
}

.submit-wrap {
    width: 100%;
}

.submit-wrap:hover,
.result-wrap:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
    border: 1px solid transparent;
}

.submit-wrap button {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
}

.editor-wrap-title,
.select-wrap-title {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    /* color: var(--font-color); */
}

.submit-wrap label {
    font-weight: 500;
    font-size: 1rem;
    color: var(--font-color);
}

.editor-wrap,
.select-wrap {
    padding-bottom: 1rem;
}

.option-wrap {
    font-weight: 700;
}

.option-wrap.confirm {
    color: #419918;
}

.option-wrap.reject {
    color: #dc3545;
}

.option-wrap,
.note-wrap {
    padding-bottom: 0.5rem;
}

.note-wrap {
    display: flex;
}

.note-wrap img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0;
    opacity: 0.6;
}

.note-wrap span {
    padding-left: 0.5rem;
}

.time-post {
    font-size: 0.8rem;
}

/* Discuss */
.list-comment {
    margin-bottom: 2rem;
}

.list-comment > .row {
    /* border-top: 1px solid rgba(57, 72, 103, 0.3); */
    width: 100%;
    margin: 0;
    padding: 0.75rem 0;
    padding-bottom: 0;
}

/* .list-comment .row:last-child {
    border-bottom: 1px solid rgba(57, 72, 103, 0.3);
} */

.list-comment .row p {
    margin: 0;
    /* font-family: "Roboto", sans-serif; */
    font-size: 1rem;
    /* color: var(--font-color); */
}

.user > .badge {
    background-color: #0063b0;
}

.user-discuss {
    width: calc(100% - 1.5rem - 44px);
    padding: 0;
}

.user-discuss .comment {
    background: rgba(57, 72, 103, 0.07);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.25rem 0 !important;
}

.comment span {
    /* font-family: "Roboto", sans-serif; */
    font-size: 1rem;
    /* color: var(--font-color); */
}

.user-discuss .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-discuss .user span:first-child {
    font-weight: 700;
    font-size: 1.1rem;
}

.user-discuss .user span:last-child {
    opacity: 0.8;
    font-size: 0.8rem;
}

.toggle-reply,
.add-comment a {
    text-decoration: none;
    /* color: var(--font-color); */
    opacity: 0.6;
    /* font-family: "Roboto", sans-serif; */
    font-size: 1rem;
}

.toggle-reply {
    padding-left: 56px;
    display: flex;
    align-items: center;
    /* margin-bottom: .5rem; */
}

.toggle-reply svg {
    margin-right: 0.5rem;
}

.toggle-reply:hover,
.add-comment a:hover {
    color: #0063b0;
    opacity: 1;
    cursor: pointer;
}

.comment-replies {
    padding-left: 56px;
    padding-top: 0.5rem;
}

.add-comment a {
    font-size: 0.9rem;
}

.editor-area {
    padding: 0.5rem 0 0 0;
}

.editor-area .ck-editor {
    padding-left: 68px;
}

.editor-area .btn-submit {
    float: right;
}

.wrap-text {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 700;
    font-size: 1.5rem;
    /* color: var(--font-color); */
}

.user-avatar > img {
    width: 44px;
    height: 44px;
}

.ck-toolbar {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}

.ck-editor__editable {
    min-height: 80px;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.btn-submit {
    margin-top: 0.5rem;
    background-color: #0063b0;
}

/*End discuss*/

.body-container {
    padding: 0 1rem;
    width: 100%;
}

.info-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.info-wrap-left {
    display: flex;
    align-items: baseline;
}

.title-wrap {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 500;
    font-size: 1.5rem;
    /* color: var(--font-color); */
    padding: 1rem 4.5rem;
}

.info-title {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    /* color: var(--font-color); */
    padding: 0 3.75rem 1rem;
}

.info-name {
    font-weight: bold;
}

.info-name,
.info-mail,
.info-time {
    /* font-family: "Roboto", sans-serif; */
    font-size: 1.2rem;
    /* color: var(--font-color); */
}

.info-mail {
    margin: 0 6px;
}

.info-time,
.info-mail {
    font-size: 0.8rem;
    opacity: 0.8;
}

.content-wrap {
    /* font-family: "Roboto", sans-serif; */
    font-size: 1.2rem;
    padding: 1rem 3.75rem;
}

.process-wrap button img {
    margin-right: 0.375rem;
    width: 1.25rem;
    height: 1.25rem;
}

.wrapper {
    display: inline-flex;
    height: 40px;
    width: 280px;
}

.wrapper .option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper .option.optionConfirm {
    margin-right: 1rem;
}

.wrapper .option .dot {
    height: 1rem;
    width: 1rem;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
.wrapper .option.optionConfirm .dot::before {
    background-color: #419918;
}
.wrapper .option.optionReject .dot::before {
    background-color: #dc3545;
}
input[type="radio"] {
    display: none;
}
#radioConfirm:checked:checked ~ .optionConfirm {
    border-color: #419918;
    background: #419918;
}
#radioReject:checked:checked ~ .optionReject {
    border-color: #dc3545;
    background: #dc3545;
}
#radioConfirm:checked:checked ~ .optionConfirm .dot,
#radioReject:checked:checked ~ .optionReject .dot {
    background: #fff;
}
#radioConfirm:checked:checked ~ .optionConfirm .dot::before,
#radioReject:checked:checked ~ .optionReject .dot::before {
    opacity: 1;
    transform: scale(1);
}
.wrapper .option span {
    font-size: 1rem;
    color: #808080;
}
#radioConfirm:checked:checked ~ .optionConfirm span,
#radioReject:checked:checked ~ .optionReject span {
    color: #fff;
}

/* .process-wrap button:hover,
.process-wrap button:active,
.process-wrap button:focus-visible {
    background-color: rgba(32, 33, 36, 0.06) !important;
    color: var(--font-color) !important;
} */

.navigation-wrapper {
    display: flex;
}

.navigation-wrapper button {
    border: none;
    border-radius: 50%;
    display: inline-flex;
    padding: 0.5rem;
    margin-left: 0.25rem;
}

.navigation-wrapper button img {
    width: 1rem;
    height: 1rem;
}

.navigation-wrapper button:hover,
.navigation-wrapper button:active,
.navigation-wrapper button:focus-visible {
    background-color: rgba(32, 33, 36, 0.1) !important;
}

/* .btn-back,
.btn-delete {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    padding-left: 2rem;
    margin-left: 0.25rem;
    overflow: hidden;
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-back:after {
    content: url(../images/SVG/back.svg);
    left: 10px;
    position: absolute;
    top: 6px;
    bottom: 0;
}

.btn-delete:after {
    content: url(../images/SVG/delete.svg);
    left: 12px;
    position: absolute;
    top: 6px;
    bottom: 0;
} */

/* @media (hover: hover) {
    .btn-back:hover,
    .btn-delete:hover {
        border-radius: 999rem;
        width: 100px;
        -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
        background-color: #fff;
        cursor: pointer;
    }

    .btn-delete:hover {
        width: 70px;
    }

    .btn-back:hover a,
    .btn-delete:hover a {
        opacity: 1;
        -webkit-transition: opacity 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: opacity 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
} */

.btn-back a,
.btn-delete a,
.sample-text {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 500;
    font-size: 1rem;
    /* line-height: 2rem; */
    /* color: var(--font-color); */
}

.blind-button {
    padding: 0.25rem 0;
    display: flex;
}

.blind-button svg {
    margin-right: 0.25rem;
}

@media screen and (max-width: 768px) {
    .main-wrap {
        width: 100%;
        margin: 0;
    }
    .navigation-wrap {
        border-radius: 0;
    }
    .info-wrap {
        align-items: initial;
        display: initial;
    }
    .content-wrap {
        padding: 1rem 0;
    }
    .title-wrap {
        align-items: flex-end;
        padding: initial;
    }
    .body-container {
        justify-content: initial;
        align-items: initial;
        width: calc(100% - 40px);
    }
    .body-section {
        align-items: center;
    }
    .body-section.sub-body {
        align-items: initial;
    }
    .body-section.sub-body img {
        display: none;
    }
    .submit-wrap,
    .result-wrap {
        max-width: initial;
        margin: 0;
    }
    .note-wrap img {
        display: block !important;
    }
    .body-container img {
        width: 40px;
        height: 40px;
    }
    .body-wrap {
        border-radius: 0;
    }
    .wrapper {
        width: 100%;
    }
    .info-wrap-container {
        width: calc(100% - 56px);
    }
    .info-title {
        padding: 0 0 1rem;
    }
    .info-content {
        display: block;
    }
    .info-name,
    .info-mail,
    .info-time {
        font-size: 0.9rem;
        color: var(--font-color);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    /* .info-mail {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    } */
    .mail-wrap {
        padding: 0;
    }
    .process-wrap {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    .process-wrap button {
        font-size: 18px;
    }
    .navigation-wrapper button:hover,
    .navigation-wrapper button:active,
    .navigation-wrapper button:focus-visible {
        background: none !important;
    }
}
/*End Home*/

/*Modal*/
.modal-body {
    /* font-family: "Roboto", sans-serif; */
    text-align: center;
}

.modal-body svg {
    margin-right: 10px;
}

.modal-body img {
    width: 200px;
    height: 200px;
}

.modal-body .title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.modal-body .sub-title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.modal-body .sub-title span {
    font-weight: 500;
}

.modal-body .button-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.modal-body .button-wrapper button {
    text-transform: uppercase;
    border: none;
}

.modal-body textarea {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .modal-body img {
        width: 160px;
        height: 160px;
    }
    .modal-content {
        margin: 0 1rem;
    }
    .modal-body svg {
        height: 33px;
        width: 33px;
    }
}
/*End Modal*/

/* List */
.main-container {
    width: 100%;
}

/* img {
    width: 33px;
    height: 33px;
} */

.msg-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

.msg-content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.msg-content-wrap {
    display: flex;
    min-width: 0;
    width: 100%;
}

.msg-name {
    /* max-width: 160px; */
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.msg-time {
    width: 150px;
    font-size: 0.9rem;
    text-align: right;
}

table {
    margin: 0 !important;
    display: inherit;
}

.table tbody {
    width: 100%;
    display: inherit;
}

tr {
    display: flex;
}

td {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

tr.newItem {
    font-weight: 700 !important;
}

td img {
    margin: 0 0.25rem 0 1rem;
}

.input-group {
    /* padding: 0; */
    border-radius: 1rem;
    /* border: 1px solid #ced4da; */
    align-items: center !important;
    padding: 0 16px;
    width: 50% !important;
    /* margin-left: 1.5rem; */
    margin-bottom: 1rem;
    /* margin-top: -0.5rem; */
    background-color: rgba(241, 243, 244, 0.24);
}

.input-group.focused {
    background-color: #fff;
}

.input-group input {
    border: none;
    padding: 6px 0;
    background-color: transparent;
}

.input-group input:focus,
.input-group input:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.input-group input::placeholder,
.input-group input.typed {
    color: #fff;
}

.input-group input:focus::placeholder,
.input-group input:focus {
    color: var(--font-color);
}

.input-group input:focus ~ .input-group-append svg {
    fill: var(--font-color);
}

.input-group-append {
    margin: 0;
    padding-left: 1rem;
}

.msg-updatetag {
    background: #0063b0;
    border-radius: 30px;
    color: white;
    width: 60px;
    font-size: 0.8rem;
    text-align: center;
    padding: 4px 10px;
    text-transform: uppercase;
    font-weight: 600;
    visibility: visible;
}

.msg-updatetag.hidden {
    visibility: hidden;
}

.list-wrap {
    width: 95%;
    padding-right: 0;
    padding-left: 0;
    height: max-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-wrapper {
    background: #fff;
    padding: 2rem 0;
    border-radius: 1rem;
}

.table-responsive::-webkit-scrollbar {
    width: 0.4rem;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 5px;
}

.table-responsive {
    height: 480px;
    overflow-y: auto;
    margin: 0 !important;
}

.tr-default,
.tr-responsive {
    background-color: #ebebeb;
    cursor: pointer;
}

.tr-default.newItem,
.tr-responsive.newItem {
    background-color: #fff;
}

.error-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    /* font-family: "Roboto", sans-serif; */
}

.error-wrap svg {
    margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
    .tr-default {
        display: none;
    }

    .msg-name-responsive,
    .msg-content-responsive,
    .msg-title-responsive {
        /* text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 160px; */
        display: flex;
        min-width: 0;
        width: 100%;
        align-items: center;
    }

    .input-group {
        width: initial !important;
    }

    td {
        font-size: 0.9rem;
    }

    .msg-responsive-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 0;
    }

    .msg-title-responsive {
        font-size: 0.8rem;
    }

    .msg-content-responsive {
        font-size: 0.85rem;
    }

    .msg-content-wrap-res,
    .msg-name-wrap-res,
    .msg-title-wrap-res {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    tbody {
        margin: 0 !important;
    }

    .badge.hidden {
        visibility: hidden;
    }

    .badge {
        background-color: #0063b0 !important;
        padding: 0.4rem;
        margin-left: 0.4rem;
    }

    .table-responsive {
        /* height: 100%; */
        height: 600px;
    }
}
/* End List */

/* Spinner */
.spinner-wrap {
    height: calc(100vh - 80px);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    position: fixed;
    background-color: #a9a9a9af;
    width: 100%;
    /* height: 100vh; */
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

.spinner-border,
.spinner-text {
    z-index: 100;
    color: #ffffff;
}

.spinner-text {
    margin-top: 1rem;
}
/* End Spinner */